<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Machine Learning Models</title>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
	</head>

	<body>
		<div class="login">
			<br><br>
			<h1>Machine Learning Models</h1>
			<form action="{{ url_for('model', name="bank")}}" method="POST">
				<button type="submit" class="btn btn-primary btn-block btn-large">Bank Loan</button>
			</form><br>
			<form action="{{ url_for('model', name="heart")}}" method="POST">
				<button type="submit" class="btn btn-primary btn-block btn-large">Heart Disease</button>
			</form><br>
			<form action="{{ url_for('model_eval')}}" method="POST">
				<button type="submit" class="btn btn-primary btn-block btn-large">Model Evaluation</button>
			</form><br>
		</div>
	</body>
</html>
